{
	BasedOnStyle: Mozilla,
	AlignAfterOpenBracket: true,
	AlignConsecutiveAssignments: true,
	AllowShortBlocksOnASingleLine: true,
	AllowShortCaseLabelsOnASingleLine: true,
	AllowShortFunctionsOnASingleLine: true,
	AllowShortIfStatementsOnASingleLine: true,
	AllowShortLoopsOnASingleLine: true,
	# AlwaysBreakAfterReturnType: true,
	BinPackParameters: false,
	BinPackArguments: false,
	BreakConstructorInitializersBeforeComma: true,
	ConstructorInitializerAllOnOneLineOrOnePerLine: true,
	ColumnLimit: 80,
	NamespaceIndentation: All,
	KeepEmptyLinesAtTheStartOfBlocks: false,
	PointerAlignment: Right,
}
